
@{
	ViewBag.Title = "InstantCashOnCreditCard";
}

<div class="contact-page">



	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<article>
					<div class="post-image m-5">
						<div class="post-heading mt-4 mb-4">
							<h1>Instant Cash from any Credit Cards</h1>
						</div>
						<img src="images/topic6.png" class="img-fluid" alt="Credit Card to Cash" title="Credit Card to Cash" style="max-width: 100%;height: auto; ">
					</div>
					<div>

						<p class="post-image-txt2" style="color: rgb(88, 88, 88); font-size: 17px; font-family: 'Open Sans',Arial,sans-serif;">
							We understand the hard work that you put into making your loved ones lives easier and better.
						</p>

						<p class="post-image-txt2">At INSTANT CASH, we stand behind our services so when we feature Instant Transfers from your credit cards, that’s exactly what our customers get: speedy transactions.We can send money directly into beneficiary’s bank account. All it takes is a matter of minutes.</p>

						<p class="post-image-txt2">
							We are accepting any types of credit cards like <b>Master Card</b>, <b>VISA</b>, <b>American Express</b>, etc…
							Interest on any credits cards are very low prices.We are Especially accepting all types of American Express Credits Cards for instant Cash at any time any where from our Site.
						</p>
					</div>




					<div class="bottom-about">
						<ul class="d-inline">
							<li><i class="fa fa-user"></i> <a href="#">admin</a></li>
							&nbsp;
							<span style="color: #656565;">|</span>&nbsp;
							<li><i class="fa fa-eye"></i> <a>Visits: 4094</a></li>
						</ul>

						<div class="pull-right d-inline">

							<ul class="social-network">
								<li>Share :</li>
								<li><a href="#"><i class="fa fa-facebook about-icon-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter  about-icon-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus  about-icon-google-plus"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin  about-icon-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-pinterest  about-icon-pinterest"></i></a></li>
							</ul>
						</div>
					</div>

					<div id="order">
						<div class="row mb-5">
							<div class="col-lg-12">
								<br>
								<h4 class="order-heading"><i class="fa fa-shopping-cart" style="color: #0cbaa4; font-size: 18px;"></i> Order form</h4>
								<div class="bottom-article newcomment">

									<form class="form">
										<div class="form-group">
											<input placeholder="Your Name" class="form-control" type="text" value="">

										</div>
										<div class="form-group">
											<input placeholder="Phone" class="form-control" type="text" value="">

										</div>
										<div class="form-group">
											<input placeholder="Your Email" class="form-control" type="email" value="">

										</div>
										<div class="form-group">
											<input placeholder="Quantity" class="form-control" id="order_qty" data-msg="Please enter quantity" data-rule="minlen:1" min="1" name="order_qty" type="number" value="">

										</div>
										<div class="form-group">
											<textarea placeholder="Notes" class="form-control" rows="5" name="order_message" cols="50"></textarea>

										</div>

										<div>
											<button type="submit" class="btn">Send Order</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>



				</article>
			</div>
		</div>
	</div>


</div>
