@{

}

<div class="contact-page">

	<section id="contact-content">
		<div class="container">
			
			<div class="row mt-4">
			
				<div class="col-md-12">
					<div class="address">
						<h4 class="h4-text"><i class="fa fa-envelope"></i> Contact Details</h4>
						<br>
						<address>
							<i class="fa fa-map-marker"></i>
							<strong style="color: grey;">Address:</strong><br>
							All Chennai
						</address>
						<p>
							<i class="fa fa-phone"></i>
							<strong style="color: grey;">Phone:</strong><br>
							<span dir="ltr">+91- 9498 3938 12</span>
						</p>
						<p>
							<i class="fa fa-phone"></i>
							<strong style="color: grey;">Mobile:</strong><br>
							<span dir="ltr">+91- 9498 3938 12</span>
						</p>
						<p>
							<i class="fa fa-envelope"></i>
							<strong style="color: grey;">Email:</strong><br>
							enquiry@card2cash.in
						</p>
						<p>
							<i class="fa fa-clock-o"></i>
							<strong style="color: grey;">Working Times:</strong><br>
							9AM to 9PM All days
						</p>
					</div>

				</div>

			</div>
		</div>
	</section>

</div>
